.registerlist {
	width: 45%;

	.offset {
		text-align: center;
	}

	.value {
		text-align: center;
	}

	.table {
		font-size: small;
	}

	.item {
		transition: visibility 0s 1.5s, opacity 1.5s linear;
	}

	.item-fadeout{
		background-color: $color-green-background;
		transition: visibility 0s 1.5s, opacity 1.5s linear;
	}
}
