.registerlist {
	display: inline-block;
	width: 45%;

	.table {
		cursor: pointer;
	}

	.item {
		transition: visibility 0s 1.5s, opacity 1.5s linear;
	}

	.item-fadeout {
		background-color: $color-green-background;
		transition: visibility 0s 1.5s, opacity 1.5s linear;
	}
}

.registerdetail {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin: 2.5%;
	position: fixed;

	.registername {
		display: inline-block;
		width: 50%;
	}

	.resetvalue {
		display: inline-block;
		width: 50%;
	}

	.field-description {
		margin-bottom: 20px;
	}

	.field-values {
		margin-bottom: 20px;
	}

	.field-detail-column {
		width: 35px;
		height: 250px;
		margin: 0;
		display: inline-block;
	}

	.field-detail-bit-index {
		border: 1px solid black;
	}

	.field-detail-bit-detail {
		border: 1px solid black;
		transform: rotate(90deg);
		transform-origin: bottom left;
		height: 35px;
		width: 200px;
		position: absolute;
		margin-top: -35px;
	}
}
