$field-width: 35px;
$field-height: 250px;
$field-description: 200px;

.registerlist {
	display: inline-block;
	width: 45%;

	.table {
		cursor: pointer;
	}

	.item {
		transition: visibility 0s 1.5s, opacity 1.5s linear;
	}

	.item-fadeout {
		background-color: $color-green-background;
		transition: visibility 0s 1.5s, opacity 1.5s linear;
	}
}

.registerdetail {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin: 2.5%;
	position: fixed;

	.registername {
		display: inline-block;
		width: 50%;
	}

	.resetvalue {
		display: inline-block;
		width: 50%;
	}

	.field-detail-column {
		width: $field-width;
		height: $field-height;
		margin: 0;
		display: inline-block;
	}

	.table-bordered {
		border: 1px solid black;
	}

	.field-detail-bit-detail {
		transform: rotate(90deg);
		transform-origin: bottom left;
		height: $field-width;
		width: $field-description;
		position: absolute;
		margin-top: -$field-width;
	}

	.margin-sep {
		margin-bottom: 20px;
	}
}
