// Colors.
$color-green-text: #155724;
$color-green-background: #d4edda;
$color-green-border: #c3e6cb;
$color-red-text: #721c24;
$color-red-background: #f8d7da;
$color-red-border: #f5c6cb;

.text-small {
    font-size: small;
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}
